include *.txt
include *.rst
include LICENSE
include pytest.ini
recursive-include os_command_py *pdb
recursive-include os_command_py *xvg
recursive-include os_command_py *rst
recursive-include os_command_py *py
